* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, proxima-nova;
}

body {
    background-color: whitesmoke;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 50px;
    position: relative;
}

.logo img{
    /* color: crimson; */
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.nav-links {
    list-style-type: none;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.nav-links .signin {
    outline: none;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: crimson;
    font-size: 15px;
    font-weight: bold;
}

.nav-links .signup {
    outline: none;
    padding: 7px;
    border: 1px solid crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
}

.nav-links .signup:hover {
    outline: none;
    padding: 7px;
    border: px solid rgb(235, 13, 58);
    color: #fff;
    border-radius: 5px;
    background-color: rgb(235, 13, 58);
    font-size: 15px;
    font-weight: bold;
}

.nav-links .signin a{
    color: #fff;
}

.nav-links .signup a{
    color: #333;
}

.nav-links .signup a:hover {
    color: #fff;
}

#hamburger {
    display: none;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

@media screen and (max-width:1000px){
    .nav-links {
        list-style-type: none;
        font-size: 17px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        width: 45%;
    }
}

@media screen and (max-width:550px){
    .nav-links {
        list-style-type: none;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    .logo {
        font-size: 15px;
    }
}

@media screen and (max-width:450px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 8vh;
        height: 92vh;
        width: 100%;
        background-color: rgb(233, 231, 231);
        transition: .4s ease-in;
        transform: translateX(100%);
    }
    #hamburger {
        display: block;
        cursor: pointer;
    }
    #hamburger div {
        height: 2px;
        background-color: #000;
        width: 15px;
        margin: 3px;
    }
}

.nav-links-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


/* signin */
.signin form{
    max-width: 420px;
    margin: 30px auto;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.signin h5 {
    padding: 15px;
    text-align: center;
    font-size: 0.9em;
}

.form-group label {
    font-weight: bold;
    display: inline-block;
    color: rgb(122, 120, 120);
    text-transform: uppercase;
    font-size: 0.7em;
}

.form-group:not(:first-child) {
    margin-top: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;

}

.form-group input {
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    margin-top: 10px;
    color: #555;
}

.btn-signin {
    max-width: 40%;
    margin: 40px auto;
}

.btn-signin button {
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: crimson;
    font-size: 15px;
    font-weight: bold;
    /* width: 40%; */
    color: #fff;
    cursor: pointer;
}

.signin p {
    font-size: 15px;
    text-align: center;
}

/* error */
.signin .error {
    color: crimson;
    font-size: 0.7em;
}

/* articles */
.articles {
    display: flex;
    flex-direction: column;
    margin: 40px;
    max-width: 700px;
}
/* article */
.article {
    margin-top: 25px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
}

.article .auteur {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-afficher-plus {
    margin-top: 10px;
    outline: none;
    border: none;
    color: #999;
    background-color: crimson;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

.btn-afficher-plus a{
    text-decoration: none;
    color: #fff;  
    cursor: pointer;
}

.singleArticle {
    margin: auto;
    max-width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 7px;
    background-color: #fff;
}

.singleArticle span {
    color: crimson;
    margin-bottom: 10px;
}

.singleArticle .auteur {
    margin-bottom: 10px;
}

.singleArticle h5 {
    margin-bottom: 10px;
}

.singleArticle article {
    margin-top: 40px;
    font-size: 16px;
}

#dropdown {
    color: crimson;
    cursor: pointer;
}

.user {
    position: absolute;
    top: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 7px;
    font-size: 0.8em;
    background-color: #fff;
    display: none;
}

.drop-user {
    display: block;
}

.deconnexion{
    margin-top: 15px;
}

/* jumbotron */
.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #aaa;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url("./images/jumbotron2.jpg");
}

.btn-jumbotron {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.btn-jumbotron p{
    margin-top: 25px;
}

.btn-jumbotron .btn1{
    outline: none;
    border-style: none;
    padding: 10px;
    background-color: crimson;
    color: #aaa;
    border-radius: 2px;
    width: 150px;
    line-height: 25px;
}

.btn-jumbotron .btn2{
    outline: none;
    border-style: none;
    padding: 10px;
    border: 1px solid rgb(248, 89, 121);
    color: #333;
    border-radius: 4px;
    width: 150px;
    line-height: 25px;
    background-color: whitesmoke;
    text-transform: uppercase;
    font-weight: bold;
}

/* topbar */

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
}
.topbar .topbarlogo {
    font-size: 1em;

}

.topbar .text {
    letter-spacing: 2px;
    font-size: 0.9em;
}